* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  user-select: none;
  cursor: none;
  overflow: hidden;
}

.App {
  background: #eeefff;
  width: 100%;
  height: 100%;
  outline: none;
}

.App .key {
  text-align: center;
  font-size: 25em;
}

.App .points {
  padding: 10px;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

.App .message {
  padding: 10px;
  font-size: 10em;
  text-align: center;
}

.App .message.success {
  color: green;
}

.App .message.error {
  color: red;
}
